.background{

    background-image: url("./background/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    height: 400px;
    top: 50%;
    box-shadow: 0 0 3px 0;
    background: inherit;
    backdrop-filter: blur(100px);
    margin: 100px;
    border-radius: 25px;
  }

  .card_login {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    height: 400px;
    width: 400px;
    top: 50%;
    box-shadow: 0 0 3px 0;
    background: transparent;
    backdrop-filter: blur(4px);
    margin: auto;
    margin-top: 150px;
    border-radius: 25px;
  }

  .card_signup {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    height: 500px;
    width: 400px;
    top: 50%;
    box-shadow: 0 0 3px 0;
    background: transparent;
    backdrop-filter: blur(4px);
    margin: auto;
    margin-top: 150px;
    border-radius: 25px;
  }

  .font_color{

    color: white;
  }

  .welcome_text_placement{

    margin: 30px 15px 30px;
  }

  .getStarted_placement{

    margin: 0px 10px 0px 800px;
  }

  .email_login_placement{

    margin: 180px 115px 10px 10px;
  }

  .password_login_placement{

    margin: 100px 110px 100px 100px;
  }


.email_signup_placement{

    margin: 50px 115px 10px 10px;
  }

.password_signup_placement{

    margin: 50px 115px 150px 100px;
  }


.firstname_signup_placement{

    margin: 220px 115px 10px 10px;
  }

.lastname_signup_placement{

    margin: 50px 115px 10px 100px;
  }


.button_signup_placement{

    margin: 0px 170px 30px 115px;
  }

.button_login_placement{

    margin: 0px 180px 30px 110px;
  }

.signUp_link{

    margin-left: 650px;
  }

.logIn_link{

    margin-left: 650px;
  }